button {
  width: 40%;
  margin: 10px;
  margin-left: 10%;
  font-size: 22px;
  background-color: blanchedalmond;
  padding: 13px;
  border: 2px solid black;
  border-radius: 25%;
  cursor: pointer;
  border-bottom-style: 2px solid rgb(106, 146, 113);
  text-align: center;
  letter-spacing: 1px;
  /* line-height: 3px; */
}


button:hover {
  background-color: darkgoldenrod;
  color: whitesmoke;
}

