
.style__EachStudent {
  margin: 2%;
  border: 2px solid #4c4cff;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  margin-right: 10%;
  background-color: #e5e5ff;
  margin-top:1%;
  margin-left:1%;
}

.style__EachStudent img {
  width: 100%;
  margin: 20%;
  padding: 10px;
}

.style__EachStudent__info {
  margin-left: 12%;
  margin-top: 5%;
  padding: 0;
  letter-spacing: 1px;
}

.style__EachStudent__info a {
  color: rgb(106, 146, 113);
  font-size: 16px;
  font-weight: bold;
}

.style__fullname{
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 23px;
}

.style__EachStudent__info h5 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.style__EachStudent__purple{
  color: #0000ff;
  font-size: 16px;
  font-weight: bold;
}

.style__EachStudent__green{
  color: #0000ff;
}

.style__EachStudent__info h2,
.style__EachStudent__info h5 {
  margin: 0 0 10px;
}

.style__EachStudent__info h5:last-child {
  margin: 10px 0 30px;
}

.show__more {
  width: 35%;
  margin: 10px;
  font-size: 20px;
  padding: 13px;
  border-radius: 5%;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5%;
  background-color: #ccccff;
  border: 2px solid #6666ff;
}

.show__more:hover {
  background-color: #9999ff;
  color: whitesmoke;
}

.student__status {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 68%;
  margin-top: -9%;
  width: 48%;
}

.student__status p {
  margin: 0;
  margin-right: -60%;
  font-size: 22px;
}

.style__EachStudent__info h2 {
  margin-bottom: 8%;
}

.student-details {
  display: grid;
  margin-left: -37%;
  margin-top: 0%;
}

.student-grades h3 {
  margin-top: 1%;
  margin-left: 1%;
}

.student-grades p {
  margin-bottom: 10%;
  margin-top: -6%;
  font-size: larger;
}

.student-grades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.student-grades .codewars {
  grid-row: span 4;
  margin-left: 0px;
}

.student-grades .certifications {
  grid-row: span 4;
  margin-left: 80px;
}

.student-grades .scores {
  margin-left: 50px;
}

.fa-check {
  color: green;
  font-size: 21px;
}

.fa-times {
  color: red;
  font-size: 21px;
}

.notes {
  border-top: 2px solid #4c4cff;
  padding-top: 2%;
  padding-bottom: 0%;
  margin-left: 0%;
  margin-top: 0%;
}

.notes__title {
  letter-spacing: 1.2px;
  margin-bottom: 2%;
  margin-left: 2px;
}

.notes__form {
  margin-left: 7%;
  letter-spacing: 1.2px;
  margin-top: -10%;
}

.notes input[type="text"] {
  width: 50%;
  margin-bottom: 1%;
  font-size: 18px;
  margin-top: 3%;
  padding: 10px;
  border: 2px solid black;
}

.button__addNote {
  width: 35%;
  margin-left: 25%;
  font-size: 20px;
  padding: 13px;
  border-radius: 5%;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5%;
  margin-top: 3%;
  color: black;
  background-color: #ccccff;
  border: 2px solid #6666ff;
}

.button__addNote:hover {
  background-color: #9999ff;
  color: whitesmoke;
}

.align__label {
  margin-left: 10%;
}

.notes__list {
  margin-bottom: 16px;
  margin-top: 3px;
  margin-left: 0px;
}

.notes__list li {
  margin-bottom: 20px;
  font-size: 20px;
}

.green {
  color: #11823b;
}

.yellow {
  color: #f1c232;
}

.red {
  color: #b20000;
}

.style__code{
  font-size: 26px;
  font-weight: bold;
}