.main__container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* sets the grid rows */
  grid-template-columns: 1fr 1fr; /* sets the grid columns */
  grid-gap: 10px; /* adds a gap between the grid items */
}

.header {
  grid-row: 1; /* sets the header to the first row */
  grid-column: 1 / span 2; /* spans the header across two columns */
}

.cohort__container {
  grid-row: 2; /* sets the first column to the second row */
  grid-column: 1; /* sets the first column to the first column */
}

.student__container {
  grid-row: 2; /* sets the second column to the second row */
  grid-column: 2; /* sets the second column to the second column */
}

.footer {
  grid-row: 3; /* sets the footer to the last row */
  grid-column: 1 / span 2; /* spans the footer across two columns */
}
